html, body {
	height: 100%; margin: 0; padding: 0;
	background-color: #fff;
	font-family: Verdana;
}

#loading {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255,255,255,0.8);
}

#loading div {
	position: relative;
	left: 50%;
	top: 50%;
	width: 100px;
	margin-left: -50px;
	margin-top: -75px;
	border: solid 2px #bbb;
	background-color: #FAFAF5;
	padding: 23px;
	text-align: center;
	color: #666;
}

#loading img {
	width: 100px;
}








#mapHolder {
	width: 100%;
	height: 100%;
	position: relative;
	float: right;
}

#map {
	height: 100%;
}

#directionsPanel {
	overflow: auto;
	float: left;
	width: 300px;
	padding: 0 10px;
	position: absolute;
	left: -321px;
	top: 0;
	background: #fff;
	height: 100%;
	border-right: 1px solid #3194FD;
	font-family: "Roboto"
}








.routesTitle {
	border-bottom: 1px solid #3194FD;
	margin: -10px;
	margin-bottom: 0;
	background: #eee;
	padding: 10px;
	padding-top: 20px;
}

.targDestHeader {
	padding-bottom: 10px;
	border-bottom: 1px solid #999;
}

.targDestAddName {
	margin: 5px 0;
	padding-top: 8px;
}

.targDestAdd {
	font-size: 15px;
}









.featureButtons {
	position: absolute;
	top: 0;
	left: 100px;
	margin: 10px;
	font-family: "Roboto";
	font-size: 11px;
	display: none;
}

.featureButtons .title {
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
	width: 95px;
	padding: 8px;
	text-align: center;
	color: rgb(86,86,86);
	position: relative;
	border-radius: 2px;
}

#filters .title:hover,
#directions .title:hover,
#restoCounter .title:hover {
	color: #000;
	background: rgb(235,235,235);
	cursor: pointer;
}

.featureButtons .featureWindow {
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
	display: none;
	min-width: 130px;
	padding: 1px;
}










#searching .title {
	padding-left: 25px;
	width: 70px;
	cursor: default;
}












#filters .featureWindow .list div {
	margin: 1px;
	padding: 5px;
	cursor: pointer;
	padding-right: 10px;
}

#filters .featureWindow .list div:hover {
	background: rgb(235,235,235);
}

#filters .featureWindow .list input {
	margin-right: 8px;
}

#filters .featureWindow .list em {
	font-size: 10px;
	color: #999;
}












#restoCounter {
	right: 117px;
	left: auto;
}

.restoCounterDepressed {
	background: #eef !important;
	padding-bottom: 6px !important;
	padding-right: 6px !important;
	border-top: 1px solid #bbf;
	border-left: 1px solid #bbf;
	border-right: 1px solid #ddf;
	border-bottom: 1px solid #ddf;
}

.counterTextCss {
	transition: none !important;
	z-index: -1000 !important;
	background: #fff;
	border: 1px solid #99f;
	border-radius: 10px;
	margin-top: 42px;
	height: 32px !important;
	pointer-events: none;
	text-align: center;
}












#directions {
	right: 0;
	left: auto;
}

#directions .title {
	float: right;
}

#directions .featureWindow {
	clear: both;
	cursor: default;
	width: 175px;
	padding: 5px 0;
}

#directions .featureWindow > div {
	margin: 1px;
	padding: 5px 10px;
}

.targetLocation {
	display: none;
}

.targetLocation > div,
.currentLocation > div,
.actionButtonsHolder > div {
	padding: 5px 10px;
	background: #eee;
	border-radius: 10px;
	margin-top: 4px;
	position: relative;
}

.targetLocation > div:hover {
	color: #999;
	cursor: pointer;
}

.targetLocation > div > div,
.currentLocation > div > div {
	margin: 4px 0;
}

.targetLocation .name {
	font-weight: bold;
}

.targetLocation .close {
	position: absolute;
	display: none;
	width: 18px;
	line-height: 18px;
	text-align: center;
	background: #888;
	border-radius: 18px;
	font-size: 14px;
	color: #eee;
	right: 0;
	top: -4px;
	transform: rotate(45deg);
	border: 5px solid #eee;
}

.targetLocation .close:hover {
	background: #555;
}

.currentLocation .addressHolder,
.currentLocation .error {
	display: none;
}

.currentLocation .error {
	padding: 9px 10px;
}










#searching .spinner,
.currentLocation .spinner,
.actionButtonsHolder .spinner
{
	background: url(../images/loading_spinner.gif) no-repeat;
	background-size: 28px;
	width: 25px;
	height: 25px;
	position: absolute;
	top: 0;
	left: 5px;
}

.currentLocation .denyLocation,
.currentLocation .noGeolocation {
	color: #f33;
	display: none;
}

.currentLocation .spinnerHolder,
.actionButtonsHolder .spinnerHolder {
	background: #fff;
	border: 1px solid #ddd;
}

.currentLocation .spinner,
.actionButtonsHolder .spinner {
	position: relative;
	line-height: 30px;
	left: -5px;
	padding-left: 28px;
	margin: 0;
	top: -2px;
}






.addressHolder, .noTarget, .currentLocation .error {
	background: #fff !important;
	border: 1px solid #ddd !important;
}

.currentLocation .addressHolder {
	cursor: pointer;
}

.currentLocation .addressHolder:hover {
	background: #eee !important;
	border: 1px solid #eee !important;
}

.noTarget:hover {
	color: #000 !important;
	cursor: default !important;
}








.routeSearchError {
	color: #f33;
	display: none;
}







.actionButtonsHolder {
	display: none;
}

.actionButtonsHolder .spinnerHolder {
	float: right;
	padding: 2px 12px;
	margin-top: 0;
}

.startEmpty .spinner {
	background: #fff;
	padding-left: 10px;
}

.startReady {
	background: #3194FD !important;
	border: 1px solid #fff !important;
	cursor: pointer;
}

.startReady .spinner {
	padding-left: 10px;
	background: inherit;
	color: #fff;
}

.startReady:hover {
	background: #0b81ff !important;
}

.startFinding {
	padding-right: 30px !important;
}












.clearBoth {
	clear: both;
}

.error {
	color: #f33;
}








#offline, #online {
	border: 1px solid #F76C60;
	background: #FFF9F9;
	position: absolute;
	margin-left: -60px;
	text-align: center;
	line-height: 40px;
	margin-top: 10px;
	color: #F76C60;
	width: 120px;
	left: 50%;
	top: 0;
}

#online {
	border: 1px solid #26B110;
	background: #F2FFF0;
	color: #26B110;
}

#preloadImages {
	display: none;
}














.primaryDataHolder, .adminPanel, .manageButton {
	width: 250px;	/* js must follow this value */
}

.infoWindow {
	margin-bottom: 8px;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.primaryDataHolder .title {
	position: relative;
	line-height: 25px;
}

.restoIcon {
	width: 15px;
	border: 1px solid #315678;
	background: #F6FBFF;
	padding: 2px;
	position: absolute;
	top: 1px;
	left: 0;
}

.analyticsHolder {
	position: relative;
	margin-top: 25px;
	height: 225px;
}

.analyticsHolder strong {
	font-size: 14px;
}

.legend {
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 11px;
	position: absolute;
}

.legend li {
	list-style-type: none;
}

.analyticsChart {
	margin-top: 8px;
}

.manageButton {
	text-align: right;
	color: #315678;
}

.manageButton > span > span{
	border: 1px solid #315678;
	padding: 0 3px;
}

.adminPanel {
	border-left: 1px solid #ccc;
	padding-left: 26px;
	position: absolute;
	overflow: auto;
	height: 100%;
	left: 275px;
	top: 0;
}

.adminPanel input {
	border: 1px solid #ccc;
	padding: 4px;
}

.adminTable{
	padding-top: 15px;
}

.adminTable table {
	padding-top: 8px;
	width: 50px; /* using a small width to compress all contents */
}

.adminHeader{
	font-size: 11px;
}

.adminTable input {
	width: 62px;
}

.adminTable td {
	position: relative;
}

.adminTable td a {
	position: absolute;
	background-color: #F76C60;
	border-radius: 15px;
	text-align: center;
	line-height: 15px;
	font-size: 14px;
	display: none;
	height: 15px;
	color: #fff;
	width: 15px;
	left: -18px;
	top: 6px;
}

.validationError {
	border: 1px solid #f77 !important;
}

.adminAddNew {
	font-size: 12px;
	float: right;
	padding: 5px 20px;
}

.adminSubmit {
	display: none;
}





/* offline css */


.loadingContactInfoBlock img {
	width: 40px;
}

.offlineContactInfoBlock img {
	width: 220px;
}

.offlineRatingDataBlock img {
	width: 130px;
}








































