html, body {
	height: 100%; margin: 0; padding: 0;
	background-color: #fff;
	font-family: Verdana;
}

#loading {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255,255,255,0.8);
}

#loading div {
	position: relative;
	left: 50%;
	top: 50%;
	width: 100px;
	margin-left: -50px;
	margin-top: -75px;
	border: solid 2px #bbb;
	background-color: #FAFAF5;
	padding: 23px;
	text-align: center;
	color: #666;
}

#loading img {
	width: 100px;
}

#map {
	height: 100%;
}




#filters {
	position: absolute;
	top: 0;
	left: 100px;
	margin: 10px;
	font-family: "Roboto";
	font-size: 11px;
	border-radius: 2px;
	display: none;
}

#filters .title {
	cursor: pointer;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
	width: 95px;
	padding: 8px;
	text-align: center;
	color: rgb(86,86,86);
	position: relative;
}

#filters .title:hover {
	color: #000;
	background: rgb(235,235,235);
}

#filters .filterOptions {
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
	display: none;
	min-width: 130px;
	padding: 1px;
}

#filters .filterOptions div {
	margin: 1px;
	padding: 5px;
	cursor: pointer;
	padding-right: 10px;
}

#filters .filterOptions div:hover {
	background: rgb(235,235,235);
}

#filters .filterOptions input {
	margin-right: 8px;
}

#filters .filterOptions em {
	font-size: 10px;
	color: #999;
}







#offline, #online {
	border: 1px solid #F76C60;
	background: #FFF9F9;
	position: absolute;
	margin-left: -60px;
	text-align: center;
	line-height: 40px;
	margin-top: 10px;
	color: #F76C60;
	width: 120px;
	left: 50%;
	top: 0;
}

#online {
	border: 1px solid #26B110;
	background: #F2FFF0;
	color: #26B110;
}

#preloadImages {
	display: none;
}











.primaryDataHolder, .adminPanel, .manageButton {
	width: 250px;	/* js must follow this value */
}

.infoWindow {
	margin-bottom: 8px;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.primaryDataHolder .title {
	position: relative;
	line-height: 25px;
}

.restoIcon {
	width: 15px;
	border: 1px solid #315678;
	background: #F6FBFF;
	padding: 2px;
	position: absolute;
	top: 1px;
	left: 0;
}

.analyticsHolder {
	position: relative;
	margin-top: 25px;
	height: 225px;
}

.analyticsHolder strong {
	font-size: 14px;
}

.legend {
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 11px;
	position: absolute;
}

.legend li {
	list-style-type: none;
}

.analyticsChart {
	margin-top: 8px;
}

.manageButton {
	text-align: right;
	color: #315678;
}

.manageButton > span > span{
	border: 1px solid #315678;
	padding: 0 3px;
}

.adminPanel {
	border-left: 1px solid #ccc;
	padding-left: 26px;
	position: absolute;
	overflow: auto;
	height: 100%;
	left: 275px;
	top: 0;
}

.adminPanel input {
	border: 1px solid #ccc;
	padding: 4px;
}

.adminTable{
	padding-top: 15px;
}

.adminTable table {
	padding-top: 8px;
	width: 50px; /* using a small width to compress all contents */
}

.adminHeader{
	font-size: 11px;
}

.adminTable input {
	width: 62px;
}

.adminTable td {
	position: relative;
}

.adminTable td a {
	position: absolute;
	background-color: #F76C60;
	border-radius: 15px;
	text-align: center;
	line-height: 15px;
	font-size: 14px;
	display: none;
	height: 15px;
	color: #fff;
	width: 15px;
	left: -18px;
	top: 6px;
}

.validationError {
	border: 1px solid #f77 !important;
}

.adminAddNew {
	font-size: 12px;
	float: right;
	padding: 5px 20px;
}

.adminSubmit {
	display: none;
}





/* offline css */


.offlineContactInfoBlock img, .loadingContactInfoBlock img {
	width: 220px;
}

.offlineRatingDataBlock img {
	width: 130px;
}






























